.forum{
    display: flex;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.squarespace-cdn.com/content/v1/61015dfe5b508a1ac630744d/9c593755-60a9-409a-b7ad-f1d99b2098bd/RedMarmoset_Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

.forum-body{
    padding: 25px;
    background-color: #690000;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #ED0000;
}

.forum-profile-full{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forum-profile-image{
    border-image: auto;
    border-radius: 15px;
}

.forum-profile-text{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    text-align: left;
    justify-content: space-between;
    align-items: stretch;
    font-size: 20px;
    color: white;
}

.forum-search-button{
    background-color: #FF5858;
    border-color: #ED0000;
    border-style: solid;
    border-radius: 10px;
    color: white;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
}

.forum-search-input{
    background-color: #D77171;
    border-color: #ED0000;
    border-style: solid;
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
}

.empty-div-header{
    display: flex;
    padding-right: 60vh;
}

.empty-div-header-2{
    padding-right: 25px;
}

.empty-div-links-space{
    padding-top: 5px;
}

.forum-links{
    display: flex;
    justify-content: left;
}

.forum-link-space{
    padding-right: 20px;
}

.link-buttons{
    font-size: 15px;
    background-color: #FF5858;
    border-color: #ED0000;
    border-style: solid;
    border-radius: 10px;
    color: white;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
}